@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tajawal:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #3a3a3a;
}

/* headings and logos */

h1, h2 {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: rgba(165, 235, 144, 0.7);
    
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* User logo */

#user-info {
    display: block;
    background-color: #ffffff94;
    clear: both;
    width: 900px;
    height: 400px;
    border-radius: 5px;
    border: 1mm ridge rgb(255, 255, 255);
    position: relative;
    margin-left: 40px;
}

#user-logo {
    margin: 40px;
    position: relative;
    left: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1mm ridge rgb(255, 255, 255);
    background: white;
    clear: both;
    float: left;
}

#info {
    position: relative;
    top: 40px;
    left: 40px;
    text-transform: uppercase;
}

#info > h1 {
    color: #003d6e;
    font-size: 170%;
}

#info-font {
    font-size: 200%;
}

/* Footer  */

footer {
    height: 40px;
    bottom: 0;
    position: relative;
    padding: 10px 10px 0px 10px;
}

.social-networks {
    text-align: center;
    float: right;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
}